<div class="row">
  <!-- profile post start-->
  <div class="col-sm-12">
    <div class="card">
      <div class="profile-post">
        <div class="post-header">
          <div class="d-flex">
            <img
              class="img-thumbnail rounded-circle me-3"
              src="../assets/images/user/7.jpg"
              alt="Generic placeholder image"
            />
            <div class="flex-grow-1 align-self-center">
              <a href="social-app.html">
                <h5 class="user-name">Emay Walter</h5></a
              >
              <h6>22 Hours ago</h6>
            </div>
          </div>
          <div class="post-setting">
            <i class="fa fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="post-body">
          <div class="img-container">
            <div class="my-gallery" itemscope="">
              <figure itemprop="associatedMedia" itemscope="">
                <a
                  href="../assets/images/user-profile/post1.jpg"
                  itemprop="contentUrl"
                  data-size="1600x950"
                  ><img
                    class="img-fluid"
                    src="../assets/images/user-profile/post1.jpg"
                    itemprop="thumbnail"
                    alt="gallery"
                /></a>
                <figcaption itemprop="caption description">
                  Image caption 1
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="post-react">
            <ul>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/3.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/5.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/1.jpg"
                  alt=""
                />
              </li>
            </ul>
            <h6>+5 people react this post</h6>
          </div>
          <p>
            Dressing is a way of life. My customers are successful working
            women. I want people to be afraid of the women I dress. Age is
            something only in your head or a stereotype. Age means nothing when
            you are passionate about something. There has to be a balance
            between your mental satisfaction and the financial needs of your
            company.
          </p>
          <ul class="post-comment">
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="heart"></i>&nbsp;&nbsp;Like<span
                    class="counter"
                    >50</span
                  ></a
                ></label
              >
            </li>
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="message-square"></i>&nbsp;&nbsp;Comment<span
                    class="counter"
                    >70</span
                  ></a
                ></label
              >
            </li>
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="share"></i>&nbsp;&nbsp;share<span
                    class="counter"
                    >20</span
                  ></a
                ></label
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- profile post end-->
  <!-- profile post start-->
  <div class="col-sm-12">
    <div class="card">
      <div class="profile-post">
        <div class="post-header">
          <div class="d-flex">
            <img
              class="img-thumbnail rounded-circle me-3"
              src="../assets/images/user/7.jpg"
              alt="Generic placeholder image"
            />
            <div class="flex-grow-1 align-self-center">
              <a href="social-app.html">
                <h5 class="user-name">Emay Walter</h5></a
              >
              <h6>5 Hours ago</h6>
            </div>
          </div>
          <div class="post-setting">
            <i class="fa fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="post-body">
          <div class="img-container">
            <div class="row mt-4 pictures my-gallery" itemscope="">
              <figure class="col-sm-6" itemprop="associatedMedia" itemscope="">
                <a
                  href="../assets/images/user-profile/post2.jpg"
                  itemprop="contentUrl"
                  data-size="1600x950"
                  ><img
                    class="img-fluid"
                    src="../assets/images/user-profile/post2.jpg"
                    itemprop="thumbnail"
                    alt="gallery"
                /></a>
                <figcaption itemprop="caption description">
                  Image caption 1
                </figcaption>
              </figure>
              <figure class="col-sm-6" itemprop="associatedMedia" itemscope="">
                <a
                  href="../assets/images/user-profile/post3.jpg"
                  itemprop="contentUrl"
                  data-size="1600x950"
                  ><img
                    class="img-fluid"
                    src="../assets/images/user-profile/post3.jpg"
                    itemprop="thumbnail"
                    alt="gallery"
                /></a>
                <figcaption itemprop="caption description">
                  Image caption 2
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="post-react">
            <ul>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/3.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/5.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/1.jpg"
                  alt=""
                />
              </li>
            </ul>
            <h6>+25 people react this post</h6>
          </div>
          <p>
            Success isn't about the end result, it's about what you learn along
            the way. Confidence. If you have it, you can make anything look
            good. Grunge is a hippied romantic version of punk. I'm an
            accomplice to helping women get what they want. Clothes can
            transform your mood and confidence. I think it's an old fashioned
            notion that fashion needs to be exclusive to be fashionable.
          </p>
          <ul class="post-comment">
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="heart"></i>&nbsp;&nbsp;Like<span
                    class="counter"
                    >520</span
                  ></a
                ></label
              >
            </li>
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="message-square"></i>&nbsp;&nbsp;Comment<span
                    class="counter"
                    >85</span
                  ></a
                ></label
              >
            </li>
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="share"></i>&nbsp;&nbsp;share<span
                    class="counter"
                    >30</span
                  ></a
                ></label
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- profile post end   -->
  <!-- profile post start-->
  <div class="col-sm-12">
    <div class="card">
      <div class="profile-post">
        <div class="post-header">
          <div class="d-flex">
            <img
              class="img-thumbnail rounded-circle me-3"
              src="../assets/images/user/7.jpg"
              alt="Generic placeholder image"
            />
            <div class="flex-grow-1 align-self-center">
              <a href="social-app.html">
                <h5 class="user-name">Emay Walter</h5></a
              >
              <h6>2 Hours ago</h6>
            </div>
          </div>
          <div class="post-setting">
            <i class="fa fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="post-body">
          <div class="img-container">
            <div class="my-gallery" itemscope="">
              <figure itemprop="associatedMedia" itemscope="">
                <a
                  href="../assets/images/user-profile/post4.jpg"
                  itemprop="contentUrl"
                  data-size="1600x950"
                  ><img
                    class="img-fluid"
                    src="../assets/images/user-profile/post4.jpg"
                    itemprop="thumbnail"
                    alt="gallery"
                /></a>
                <figcaption itemprop="caption description">
                  Image caption 1
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="post-react">
            <ul>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/3.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/5.jpg"
                  alt=""
                />
              </li>
              <li>
                <img
                  class="rounded-circle"
                  src="../assets/images/user/1.jpg"
                  alt=""
                />
              </li>
            </ul>
            <h6>+20 people react this post</h6>
          </div>
          <p>
            Comfort is very important to me. I think people live better in big
            houses and in big clothes. Design and style should work toward
            making you look good and feel good without a lot of effort so you
            can get on with the things that matter. My shows are about the
            complete woman who swallows it all. Its a question of survival.
            Those fashion designers are just crazy; but arent we all? You can
            only go forward by making mistakes.
          </p>
          <ul class="post-comment">
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="heart"></i>&nbsp;&nbsp;Like<span
                    class="counter"
                    >407</span
                  ></a
                ></label
              >
            </li>
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="message-square"></i>&nbsp;&nbsp;Comment<span
                    class="counter"
                    >302</span
                  ></a
                ></label
              >
            </li>
            <li>
              <label
                ><a href="javascript:void(0)"
                  ><i data-feather="share"></i>&nbsp;&nbsp;share<span
                    class="counter"
                    >180</span
                  ></a
                ></label
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- profile post end                           -->
</div>
