<div class="weather-widget-two">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-5 col-md-6">
        <div class="mobile-clock-widget">
          <div>
            <ul class="clock" id="clock">
              <li class="hour" id="hour"></li>
              <li class="min" id="min"></li>
              <li class="sec" id="sec"></li>
            </ul>
            <div class="date f-24 mb-2" id="date">{{ today | date }}</div>
            <div>
              <p class="m-0 f-14 text-light">kolkata, India</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-md-6">
        <div class="widget-list">
          <ul>
            <li>
              <div class="d-flex">
                <svg-icon src="assets/svgIcon/cloud1.svg"></svg-icon>

                <div class="flex-grow-1">
                  <h5>25*C</h5>
                </div>
                <span>Paris</span>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <svg-icon src="assets/svgIcon/cloud2.svg"></svg-icon>

                <div class="flex-grow-1">
                  <h5>25*C</h5>
                </div>
                <span>New York</span>
              </div>
            </li>
            <li>
              <div class="d-flex">
                <svg-icon src="assets/svgIcon/cloud3.svg"></svg-icon>

                <div class="flex-grow-1">
                  <h5>25*C</h5>
                </div>
                <span>India</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
