<div class="card value-chart bg-primary">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="round-progress knob-block text-center">
          <div class="progress-circle">
            <div style="display: inline; width: 120px; height: 120px">
              <canvas
                width="150"
                height="150"
                style="width: 120px; height: 120px"
              ></canvas>
              <!-- <input
                class="knob1"
                data-width="10"
                data-height="70"
                data-thickness=".3"
                data-angleoffset="0"
                data-linecap="round"
                data-fgcolor="#534686"
                data-bgcolor="#C4C4C4"
                value="62"
                style="
                  width: 64px;
                  height: 40px;
                  position: absolute;
                  vertical-align: middle;
                  margin-top: 40px;
                  margin-left: -92px;
                  border: 0px;
                  background: none;
                  font: bold 24px Arial;
                  text-align: center;
                  color: rgb(83, 70, 134);
                  padding: 0px;
                  appearance: none;
                "
                fdprocessedid="hhqy7j"
              /> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="valuechart-detail">
          <div>
            <p>Our Sale Value</p>
            <h2>$7454.25</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="badge badge-primary">New</span>
</div>
