<div class="card value-chart bg-primary">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="round-progress knob-block text-center">
          <div class="progress-circle">
            <div style="display: inline; width: 120px; height: 120px">
              <apx-chart
                [series]="widget5.series"
                [chart]="widget5.chart"
                [stroke]="widget5.stroke"
                [annotations]="widget5.annotations"
                [colors]="widget5.colors"
                [yaxis]="widget5.yaxis"
                [xaxis]="widget5.xaxis"
                [legend]="widget5.legend"
                [tooltip]="widget5.tooltip"
                [dataLabels]="widget5.dataLabels"
                [grid]="widget5.grid"
                [labels]="widget5.labels"
                [responsive]="widget5.responsive"
                [plotOptions]="widget5.plotOption"
                [states]="widget5.states"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="valuechart-detail">
          <div>
            <p>Our Sale Value</p>
            <h2>$7454.25</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="badge badge-primary">New</span>
</div>
