<app-breadcrumb
  [title]="'Basic cards'"
  [items]="['Bonus UI']"
  [active_item]="'Basic cards'"
></app-breadcrumb>
<div class="container-fluid basic-cards">
  <div class="row">
    <div class="col-xl-6 col-sm-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Simple Cards</h3>
          <span>Example of Sample basic card</span>
        </div>
        <div class="card-body">
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled.
          </p>
        </div>
        <div class="card-footer">
          <h5 class="mb-0">Card Footer</h5>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-sm-6">
      <div class="card">
        <div class="card-header bg-primary pb-0">
          <h3 class="text-white">Primary Card</h3>
          <span class="text-white"
            >Example of color card add .bg-primary, .bg-* to create any color
            card.
          </span>
        </div>
        <div class="card-body bg-primary">
          <p class="mb-0">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled.
          </p>
        </div>
        <div class="card-footer bg-primary border-top">
          <h5 class="mb-0">Card Footer</h5>
        </div>
      </div>
    </div>
    <h3>Card with border</h3>
    <app-card-with-border></app-card-with-border>

    <h3>Card with Tab</h3>
    <app-card-with-tab></app-card-with-tab>
    <h3>Profile cards</h3>
    <app-profile-cards></app-profile-cards>
    <h3>Horizontal Card</h3>
    <app-horizontal-card></app-horizontal-card>
    <h3>Blog Cards</h3>
    <app-blog-cards></app-blog-cards>
  </div>
</div>
