<div class="card">
  <div class="card-header">
    <h3>Recent Activity</h3>
    <div class="card-header-right">
      <ul class="list-unstyled card-option"></ul>
    </div>
  </div>
  <div class="card-body">
    <div class="activity-media">
      <div class="d-flex">
        <div class="recent-circle bg-primary"></div>
        <div class="flex-grow-1">
          <h6 class="font-roboto">Any desktop publishing pack ages editors.</h6>
          <span
            ><i class="me-2" data-feather="clock"></i
            ><span class="font-roboto">14 July 2023 | 20 hours ago</span></span
          >
        </div>
      </div>
      <div class="d-flex">
        <div class="recent-circle bg-secondary"></div>
        <div class="flex-grow-1">
          <h6 class="font-roboto">
            Renewed account with this new premium plan.
          </h6>
          <span
            ><i class="me-2" data-feather="clock"></i
            ><span class="font-roboto">24 Aug 2023 | 2 Days ago</span></span
          >
        </div>
      </div>
      <div class="d-flex">
        <div class="recent-circle bg-success"></div>
        <div class="flex-grow-1">
          <h6 class="font-roboto">
            Micron to build largest chip factory in US history.
          </h6>
          <span
            ><i class="me-2" data-feather="clock"></i
            ><span class="font-roboto">25 July 2023 | 20 hours ago</span></span
          >
        </div>
      </div>
      <div class="d-flex">
        <div class="recent-circle bg-info"></div>
        <div class="flex-grow-1">
          <h6 class="font-roboto">
            Share A Case Study On One Of Your Customers.
          </h6>
          <span
            ><i class="me-2" data-feather="clock"></i
            ><span class="font-roboto">12 Sept 2023 | 10 hours ago</span></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
