<div class="header-wrapper row m-0">
  <div class="header-logo-wrapper col-auto p-0">
    <div class="logo-wrapper">
      <a href="index.html"
        ><img
          class="img-fluid for-light"
          src="assets/images/logo/logo.png"
          alt="" /><img
          class="img-fluid for-dark"
          src="assets/images/logo/logo-dark.png"
          alt=""
      /></a>
    </div>
    <div class="toggle-sidebar">
      <i
        class="status_toggle middle sidebar-toggle"
        data-feather="align-center"
      ></i>
    </div>
  </div>
  <div class="left-header col horizontal-wrapper ps-0">
    <app-search></app-search>
  </div>
  <div class="nav-right col-6 pull-right right-header p-0">
    <ul class="nav-menus">
      <li class="language-nav">
        <app-language></app-language>
      </li>
      <li>
        <div class="mode"><app-mode></app-mode></div>
      </li>
      <li class="onhover-dropdown">
        <app-bookmark></app-bookmark>
      </li>
      <li class="onhover-dropdown">
        <app-notification></app-notification>
      </li>
      <li class="onhover-dropdown">
        <app-message-box></app-message-box>
      </li>
      <li class="maximize"></li>
      <li class="profile-nav onhover-dropdown p-0 me-0">
        <app-account></app-account>
      </li>
    </ul>
  </div>
</div>
