<div class="card best-sellers">
  <div class="card-header pb-0">
    <h3>Best Sellers</h3>
    <div class="card-header-right"></div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordernone">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Product</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of BestSellers">
            <td>
              <div class="d-flex">
                <div class="icon">
                  <img
                    class="img-fluid"
                    src="{{ item.productImg }}"
                    alt="person1"
                  />
                </div>
                <div class="flex-grow-1">
                  <a href="user-profile.html">
                    <h5>{{ item.sellerName }}</h5></a
                  >
                  <p>{{ item.year }}</p>
                </div>
              </div>
            </td>
            <td>
              <h5>{{ item.date }}</h5>
            </td>
            <td>
              <h5>{{ item.productName }}</h5>
            </td>
            <td>
              <h5>${{ item.total }}</h5>
            </td>
            <td>
              <div class="status-showcase">
                <p>{{ item.status }}</p>
                <div class="progress progress-bg-success" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 65%"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
