<div class="card activity-review">
  <div class="card-header pb-0">
    <h3>Activity</h3>
    <div class="card-header-right"></div>
  </div>
  <div class="card-body">
    <div class="table-responsive theme-scrollbar">
      <table class="table table-bordernone">
        <tbody>
          <tr>
            <td>
              <div class="d-flex">
                <img
                  class="img-fluid"
                  src="assets/images/dashboard/activity/1.jpg"
                  alt=""
                />
                <div class="flex-grow-1">
                  <a [routerLink]="'/to-do'"> <h5>Review request jim Smith</h5></a>
                  <p>jan 03 19 12:25 PM at Tame</p>
                </div>
                <div class="time-badge">
                  <p>14m Ago</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <img
                  class="img-fluid"
                  src="assets/images/dashboard/activity/2.jpg"
                  alt=""
                />
                <div class="flex-grow-1">
                  <a  [routerLink]="'/to-do'"> <h5>New contact added</h5></a>
                  <p>jan 02 19 03:10 PM at Fresno</p>
                </div>
                <div class="time-badge">
                  <p>22m Ago</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <img
                  class="img-fluid"
                  src="assets/images/dashboard/activity/3.jpg"
                  alt=""
                />
                <div class="flex-grow-1">
                  <a  [routerLink]="'/to-do'"> <h5>Sent review (504)236-7302</h5></a>
                  <p>jan 02 19 07:35 PM at Iris</p>
                </div>
                <div class="time-badge">
                  <p>30m Ago</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
