<div class="card order-chart">
  <div class="card-header pb-0">
    <div class="row">
      <div class="col-9">
        <h3>Order Status</h3>
      </div>

      <div class="col-3 text-end">
        <i class="text-muted" data-feather="shopping-bag"></i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-container">
      <div id="progress1">
        <apx-chart
          [series]="progress1.series"
          [chart]="progress1.chart"
          [stroke]="progress1.stroke"
          [annotations]="progress1.annotations"
          [colors]="progress1.colors"
          [yaxis]="progress1.yaxis"
          [xaxis]="progress1.xaxis"
          [legend]="progress1.legend"
          [tooltip]="progress1.tooltip"
          [dataLabels]="progress1.dataLabels"
          [grid]="progress1.grid"
          [labels]="progress1.labels"
          [responsive]="progress1.responsive"
          [plotOptions]="progress1.plotOption"
          [states]="progress1.states"
        >
        </apx-chart>
      </div>
      <div id="progress2">
        <apx-chart
          [series]="progress2.series"
          [chart]="progress2.chart"
          [stroke]="progress2.stroke"
          [annotations]="progress2.annotations"
          [colors]="progress2.colors"
          [yaxis]="progress2.yaxis"
          [xaxis]="progress2.xaxis"
          [legend]="progress2.legend"
          [tooltip]="progress2.tooltip"
          [dataLabels]="progress2.dataLabels"
          [grid]="progress2.grid"
          [labels]="progress2.labels"
          [responsive]="progress2.responsive"
          [plotOptions]="progress2.plotOption"
          [states]="progress2.states"
        >
        </apx-chart>
      </div>
      <div id="progress3">
        <apx-chart
          [series]="progress3.series"
          [chart]="progress3.chart"
          [stroke]="progress3.stroke"
          [annotations]="progress3.annotations"
          [colors]="progress3.colors"
          [yaxis]="progress3.yaxis"
          [xaxis]="progress3.xaxis"
          [legend]="progress3.legend"
          [tooltip]="progress3.tooltip"
          [dataLabels]="progress3.dataLabels"
          [grid]="progress3.grid"
          [labels]="progress3.labels"
          [responsive]="progress3.responsive"
          [plotOptions]="progress3.plotOption"
          [states]="progress3.states"
        >
        </apx-chart>
      </div>
      <div id="progress4">
        <apx-chart
          [series]="progress4.series"
          [chart]="progress4.chart"
          [stroke]="progress4.stroke"
          [annotations]="progress4.annotations"
          [colors]="progress4.colors"
          [yaxis]="progress4.yaxis"
          [xaxis]="progress4.xaxis"
          [legend]="progress4.legend"
          [tooltip]="progress4.tooltip"
          [dataLabels]="progress4.dataLabels"
          [grid]="progress4.grid"
          [labels]="progress4.labels"
          [responsive]="progress4.responsive"
          [plotOptions]="progress4.plotOption"
          [states]="progress4.states"
        >
        </apx-chart>
      </div>
      <div id="progress5">
        <apx-chart
          [series]="progress5.series"
          [chart]="progress5.chart"
          [stroke]="progress5.stroke"
          [annotations]="progress5.annotations"
          [colors]="progress5.colors"
          [yaxis]="progress5.yaxis"
          [xaxis]="progress5.xaxis"
          [legend]="progress5.legend"
          [tooltip]="progress5.tooltip"
          [dataLabels]="progress5.dataLabels"
          [grid]="progress5.grid"
          [labels]="progress5.labels"
          [responsive]="progress5.responsive"
          [plotOptions]="progress5.plotOption"
          [states]="progress5.states"
        >
        </apx-chart>
      </div>
    </div>
  </div>
</div>
