<app-breadcrumb
  [title]="'Users Profile'"
  [items]="['Users']"
  [active_item]="'Users Profile'"
></app-breadcrumb>

<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <div class="col-sm-12">
        <app-user-profile></app-user-profile>
      </div>

      <div class="col-xl-3 col-md-5 xl-35 box-col-35">
        <app-left-content></app-left-content>
      </div>
      <div class="col-xl-9 col-md-7 xl-65 box-col-65">
        <app-right-content></app-right-content>
      </div>
      <!-- user profile fifth-style end-->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div>
              <button
                class="pswp__button pswp__button--close"
                title="Close (Esc)"
              ></button>
              <button
                class="pswp__button pswp__button--share"
                title="Share"
              ></button>
              <button
                class="pswp__button pswp__button--fs"
                title="Toggle fullscreen"
              ></button>
              <button
                class="pswp__button pswp__button--zoom"
                title="Zoom in/out"
              ></button>
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
            >
              <div class="pswp__share-tooltip"></div>
            </div>
            <button
              class="pswp__button pswp__button--arrow--left"
              title="Previous (arrow left)"
            ></button>
            <button
              class="pswp__button pswp__button--arrow--right"
              title="Next (arrow right)"
            ></button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
