<div class="card">
  <div class="card-header pb-0 card-no-border">
    <h3>With Header & No Border</h3>
  </div>
  <div class="card-body">
    <h5>Content title</h5>
    <p>
      Add a heading to card with <code>.card-header </code> class & without
      header border<code>.border-bottom-0</code> class.
    </p>
    <p>
      You may also include any &lt;h1&gt;-&lt;h6&gt; with a
      <code>.card-header </code> & <code>.card-title</code> class to add
      heading.
    </p>
    <p>
      Gingerbread brownie sweet roll cheesecake chocolate cake jelly beans
      marzipan gummies dessert. Jelly beans sugar plum cheesecake cookie oat
      cake soufflé.
    </p>
  </div>
</div>
