<div class="card">
  <div class="card-header pb-0">
    <h3>How to use starter kit ?</h3>
    <div class="card-header-right">
      <ul class="list-unstyled card-option">
        <li>
          <div><i class="icon-settings"></i></div>
        </li>
        <li><i class="view-html fa fa-code"></i></li>
        <li><i class="icofont icofont-maximize full-card"></i></li>
        <li><i class="icofont icofont-minus minimize-card"></i></li>
        <li><i class="icofont icofont-refresh reload-card"></i></li>
        <li><i class="icofont icofont-error close-card"></i></li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <p><span class="f-w-600">HTML</span></p>
    <p>
      If you know just HTML, select your choice of layout from starter kit
      folder, customize it with optional changes like colors and branding, add
      required dependency only.
    </p>
    <p><span class="f-w-600">PUG</span></p>
    <p>
      To use PUG it required node.js and basic knowledge of using it. Using PUG
      as template engine to generate whole template quickly with your selected
      layout and other custom changes. To getting start with PUG usage &
      template generating process please refer template documentation.
    </p>
    <div class="alert alert-primary inverse" role="alert">
      <i class="icon-info-alt"></i>
      <h5>Tips!</h5>
      <p>
        Hideable navbar option is available for fixed navbar with static
        navigation only. Works in top and bottom positions, single and multiple
        navbars.
      </p>
    </div>
  </div>
</div>
