<app-breadcrumb
  [title]="'Product List'"
  [items]="['E - Commerce']"
  [active_item]="'Product List'"></app-breadcrumb>
<div class="container-fluid list-products">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Individual column searching (text inputs)</h3>
          <span
            >The searching functionality provided by DataTables is useful for
            quickly search through the information in the table - however the
            search is global, and you may wish to present controls that search
            on specific columns.</span
          >
        </div>
        <div class="card-body">
          <div class="table-responsive theme-scrollbar product-table">
            <form>
              <div class="mb-3 row">
                <label
                  for="table-complete-search"
                  class="col-xs-3 col-sm-auto col-form-label"
                  >Full text search:</label
                >
                <div class="col-xs-3 col-sm-auto">
                  <input
                    id="table-complete-search"
                    type="text"
                    class="form-control"
                    name="searchTerm"
                    [(ngModel)]="service.searchTerm"
                  />
                </div>
                <span
                  class="col col-form-label"
                  *ngIf="service.loading$ | async"
                  >Loading...</span
                >
              </div>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col" sortable="details" (sort)="onSort($event)">
                      Details
                    </th>
                    <th scope="col" sortable="amount" (sort)="onSort($event)">
                      Amount
                    </th>
                    <th scope="col" sortable="stock" (sort)="onSort($event)">
                      Stock
                    </th>
                    <th
                      scope="col"
                      sortable="startData"
                      (sort)="onSort($event)"
                    >
                      start date
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products$ | async">
                    <th scope="row">
                      <img
                        [src]="product.productImg"
                        class="me-2"
                        style="width: 20px"
                      />
                    </th>
                    <td>
                      <ngb-highlight
                        [result]="product.details"
                        [term]="service.searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="product.amount | number"
                        [term]="service.searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="product.stock"
                        [term]="service.searchTerm"
                      ></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight
                        [result]="product.startData"
                        [term]="service.searchTerm"
                      ></ngb-highlight>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="d-flex justify-content-between p-2">
                <ngb-pagination
                  [collectionSize]="(total$ | async)!"
                  [(page)]="service.page"
                  [pageSize]="service.pageSize"
                >
                </ngb-pagination>

                <select
                  class="form-select"
                  style="width: auto"
                  name="pageSize"
                  [(ngModel)]="service.pageSize"
                >
                  <option [ngValue]="2">2 items per page</option>
                  <option [ngValue]="4">4 items per page</option>
                  <option [ngValue]="6">6 items per page</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Individual column searching (text inputs) Ends-->
    </div>
  </div>
</div>
