<div class="card value-chart stock-value bg-secondary">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="stock-value" id="stock-value">
          <apx-chart
            [series]="todayvalue.series"
            [chart]="todayvalue.chart"
            [stroke]="todayvalue.stroke"
            [annotations]="todayvalue.annotations"
            [colors]="todayvalue.colors"
            [yaxis]="todayvalue.yaxis"
            [xaxis]="todayvalue.xaxis"
            [legend]="todayvalue.legend"
            [tooltip]="todayvalue.tooltip"
            [dataLabels]="todayvalue.dataLabels"
            [grid]="todayvalue.grid"
            [plotOptions]="todayvalue.plotOptions"
            [states]="todayvalue.states"
            [fill]="todayvalue.fill"
            [responsive]="todayvalue.responsive"
          >
          </apx-chart>
        </div>
      </div>
      <div class="col-6">
        <div class="valuechart-detail">
          <div>
            <p>Today Value</p>
            <h2>$5263.04</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="badge badge-primary">Hot </span>
</div>
