<div class="col-sm-12">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <app-common-profile-card [data]="cardData1"></app-common-profile-card>
    </div>
    <div class="col-xl-4 col-lg-12 pre-order">
      <div class="card custom-profile">
        <div class="pb-0">
          <div class="card-profile">
            <img
              class="user-img"
              src="assets/images/other-images/user-profile.png"
              alt=""
            />
          </div>
          <div class="text-center profile-details">
            <h4>James Martin</h4>
            <h6>CEO</h6>
          </div>
          <ul class="card-social">
            <li>
              <a class="social-link" href="https://accounts.google.com/"
                ><img
                  class="user-img"
                  src="assets/images/svg-icon/1.svg"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="social-link" href="https://www.facebook.com/"
                ><img
                  class="user-img"
                  src="assets/images/svg-icon/2.svg"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="social-link" href="https://twitter.com/"
                ><img
                  class="user-img"
                  src="assets/images/svg-icon/3.svg"
                  alt=""
              /></a>
            </li>
            <li>
              <a class="social-link" href="https://www.instagram.com/"
                ><img
                  class="user-img"
                  src="assets/images/svg-icon/4.svg"
                  alt=""
              /></a>
            </li>
            <li>
              <a
                class="social-link"
                href="https://dashboard.rss.com/auth/sign-in/"
                ><img
                  class="user-img"
                  src="assets/images/svg-icon/5.svg"
                  alt=""
              /></a>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-4 col-sm-4">
              <h6 class="font-roboto">Follower</h6>
              <h5 class="counter">5564</h5>
            </div>
            <div class="col-4 col-sm-4">
              <h6 class="font-roboto">Following</h6>
              <h5><span class="counter">24</span>K</h5>
            </div>
            <div class="col-4 col-sm-4">
              <h6 class="font-roboto">Total Post</h6>
              <h5><span class="counter">36</span>M</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <app-common-profile-card [data]="cardData2"></app-common-profile-card>
    </div>
  </div>
</div>
