<div class="items-slider">
  <owl-carousel-o [options]="customOptions">
    <ng-template *ngFor="let item of products" carouselSlide>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="card rated-product bg-primary">
          <div class="card-body">
            <div class="img-wrapper">
              <img
                class="img-fluid"
                src="{{ item.image }}"
                alt="apple-watch"
              /><span class="badge {{ item.class }} rated-product-badge">{{
                item.badge
              }}</span>
            </div>
            <div class="product-detail">
              <a href="product-page.html">
                <h4>{{ item.name }}</h4></a
              >
              <h3>{{ item.price }}</h3>
              <ul class="rating-star">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
