<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let product of products">
    <ng-template carouselSlide>
      <div class="items-slider">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
          <div class="card rated-product bg-primary">
            <div class="card-body">
              <div class="img-wrapper">
                <img
                  class="img-fluid"
                  [src]="product.image"
                  [alt]="product.name"
                />
                <span class="badge badge-primary rated-product-badge">{{
                  product.badge
                }}</span>
              </div>
              <div class="product-detail">
                <a href="product-page.html">
                  <h4>{{ product.name }}</h4></a
                >
                <h3>{{ product.price }}</h3>

                <ul class="rating-star">
                  <li>
                    <app-feather-icon [icon]="'fa fa-star'"></app-feather-icon>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
