- var theme_customizer      = true;
- var apex                  = true;
- var dashboard_default     = true;
- var notify                = true;
- var animate               = true;
- var knobchart             = true;
- var page_knobchart        = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var sidebar               = true;
- var scrollbar             = true;
- var customcard            = true;
- var clipboard             = true;
- var prism                 = true;


doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/taptop
    include ../../components/loader
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                .col-6
                  h3 Default Dashboard
                .col-6
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')                                        
                        i(data-feather="home")
                    li.breadcrumb-item Dashboard
                    li.breadcrumb-item.active Default      
          // Container-fluid starts
          .container-fluid.default-page
            .row
              .col-xl-5.col-lg-5
                .card.profile-greeting
                  .card-body                    
                    div
                      h1 Welcome,William
                      p  You have completed 40% of your this week! Start a new goal & improve your result
                      a.btn(href="user-profile.html") Continue
                        i(data-feather="arrow-right")
                    .greeting-img
                      img.img-fluid(src="../assets/images/dashboard/profile-greeting/bg.png" alt="")
              .col-xl-4.col-md-6.col-lg-3
                .card.yearly-view
                  .card-header.pb-0
                    h3 Yearly Overview
                      span.badge.badge-primary 50/100
                    h5.mb-0 Monday
                  .card-body.p-0
                    #yearly-view.yearly-view
              .col-xl-3.col-md-6.col-lg-4
                .card.activity-review
                  .card-header.pb-0
                    h3  Activity 
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          div
                            i.icon-settings
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    .table-responsive
                      table.table.table-bordernone
                        tbody
                          tr
                            td
                              .d-flex                              
                                img.img-fluid(src="../assets/images/dashboard/activity/1.jpg" , alt="")
                                .flex-grow-1
                                  a(href='to-do.html')
                                    h5 Review request jim Smith
                                  p jan 03 19 12:25 PM at Tame
                                .time-badge 
                                  p 14m Ago  
                          tr
                            td
                              .d-flex
                                img.img-fluid(src="../assets/images/dashboard/activity/2.jpg" , alt="")
                                .flex-grow-1 
                                  a(href='to-do.html')
                                    h5 New contact added
                                  p jan 02 19 03:10 PM at Fresno
                                .time-badge 
                                  p 22m Ago  
                          tr
                            td
                              .d-flex                              
                                img.img-fluid(src="../assets/images/dashboard/activity/3.jpg" , alt="")
                                .flex-grow-1 
                                  a(href='to-do.html')
                                    h5 Sent review (504)236-7302
                                  p jan 02 19 07:35 PM at Iris
                                .time-badge 
                                  p 30m Ago  
                    .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#activity-view' title='' data-bs-original-title='Copy' aria-label='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#activity-view
                            |&lt;div class="card activity-review"&gt;
                            |  &lt;div class="card-header pb-0"&gt;
                            |    &lt;h3&gt; Activity &lt;/h3&gt;
                            |      &lt;div class="card-header-right"&gt;
                            |          &lt;ul class="list-unstyled card-option"&gt;
                            |              &lt;li&gt;
                            |                  &lt;div&gt;&lt;i class="icon-settings"&gt;&lt;/i&gt;&lt;/div&gt;
                            |              &lt;/li&gt;
                            |             &lt;li&gt;&lt;i class="view-html fa fa-code"&gt;&lt;/i&gt;&lt;/li&gt;
                            |             &lt;li&gt;&lt;i class="icofont icofont-maximize full-card"&gt;&lt;/i&gt;&lt;/li&gt;
                            |             &lt;li&gt;&lt;i class="icofont icofont-minus minimize-card"&gt;&lt;/i&gt;&lt;/li&gt;
                            |             &lt;li&gt;&lt;i class="icofont icofont-refresh reload-card"&gt;&lt;/i&gt;&lt;/li&gt;
                            |             &lt;li&gt;&lt;i class="icofont icofont-error close-card"&gt;&lt;/i&gt;&lt;/li&gt;
                            |           &lt;/ul&gt;
                            |         &lt;/div&gt;
                            |        &lt;/div&gt;
                            |      &lt;div class="card-body"&gt;
                            |          &lt;div class="table-responsive"&gt;
                            |              &lt;table class="table table-bordernone"&gt;
                            |                  &lt;tbody&gt;
                            |                      &lt;tr&gt;
                            |                          &lt;td&gt;
                            |                              &lt;div class="d-flex"&gt;
                            |                                  &lt;img class="img-fluid" src="../assets/images/dashboard/activity/1.jpg" alt="" /&gt;
                            |                              &lt;div class="flex-grow-1"&gt;
                            |                                &lt;h5&gt;Review request j im Smith&lt;/h5&gt;
                            |                                &lt;p&gt;jan 03 2019 12:25 PM at Tamecula&lt;/p&gt;
                            |                              &lt;/div&gt;
                            |                            &lt;/div&gt;
                            |                          &lt;/td&gt;
                            |                        &lt;/tr&gt;
                            |                        &lt;tr&gt;
                            |                            &lt;td&gt;
                            |                                &lt;div class="d-flex"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/activity/2.jpg" alt="" /&gt;
                            |                                  &lt;div class="flex-grow-1"&gt;
                            |                                    &lt;h5&gt;New contact added messenger&lt;/h5&gt;
                            |                                    &lt;p&gt;jan 02 2019 03:10 PM at Fresno&lt;/p&gt;
                            |                                  &lt;/div&gt;
                            |                                &lt;/div&gt;
                            |                            &lt;/td&gt;
                            |                        &lt;/tr&gt;
                            |                        &lt;tr&gt;
                            |                            &lt;td&gt;
                            |                                &lt;div class="d-flex"&gt;
                            |                                    &lt;img class="img-fluid" src="../assets/images/dashboard/activity/1.jpg" alt="" /&gt;
                            |                                    &lt;div class="flex-grow-1"&gt;
                            |                                        &lt;h5&gt;Sent review (504)236-7302&lt;/h5&gt;
                            |                                        &lt;p&gt;jan 02 2019 03:10 PM at Fresno&lt;/p&gt;
                            |                                    &lt;/div&gt;
                            |                                  &lt;/div&gt;
                            |                            &lt;/td&gt;
                            |                        &lt;/tr&gt;
                            |                      &lt;/tbody&gt;
                            |                    &lt;/table&gt;
                            |                  &lt;/div&gt;
                            |                &lt;/div&gt;
                            |              &lt;/div&gt;
              .col-xl-5.col-lg-5
                .card.transaction-history
                  .card-header.pb-0
                    h3  Transaction
                    .card-header-right
                      ul.list-unstyled.card-option
                        li
                          div
                            i.icon-settings
                        li
                          i.view-html.fa.fa-code
                        li
                          i.icofont.icofont-maximize.full-card
                        li
                          i.icofont.icofont-minus.minimize-card
                        li
                          i.icofont.icofont-refresh.reload-card
                        li
                          i.icofont.icofont-error.close-card
                  .card-body
                    table.table.table-bordernone.table-responsive
                      thead
                        tr
                          th Item Name
                          th Date and Time
                          th Income
                          th Progress
                          th Status
                      tbody
                        tr
                          td
                            .d-flex                                
                              .icon
                                img.img-fluid(src="../assets/images/dashboard/transaction/1.png", alt="" )
                              .flex-grow-1
                                a(href="product-page.html")
                                  h5 Nike Sports NK
                                p Free delivery
                          td
                            h5 12 May 2022
                            p In 6 Days
                          td 
                            
                            h5 +$456
                          td
                            .progress-showcase
                              p 65%
                              .progress.progress-bg-success(style='height: 5px;')
                                .progress-bar(role='progressbar' style='width: 65%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                          td 
                            h5 Paypal
                        tr
                          td
                            .d-flex
                              .icon
                                img.img-fluid(src="../assets/images/dashboard/transaction/2.png" , alt="")
                              .flex-grow-1
                                a(href="product-page.html")
                                  h5 Women Bag
                                p ₹83.65 delivery
                          td
                            h5 06 May 2022
                            p In 5 Days
                          td 
                            h5 -$80
                          td
                            .progress-showcase
                              p 45%
                              .progress.progress-bg-warning(style='height: 5px;')
                                .progress-bar(role='progressbar' style='width: 45%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                          td 
                            h5 Credit Card
                        tr
                          td
                            .d-flex
                              .icon
                                img.img-fluid(src="../assets/images/dashboard/transaction/3.png" , alt="")
                              .flex-grow-1
                                a(href="product-page.html")
                                  h5 Sunglasses
                                p Free delivery
                          td
                            h5 28 Sep 2022
                            p in 4 Months
                          td 
                            h5 -$4,232
                          td
                            .progress-showcase
                              p 85%
                              .progress.progress-bg-danger(style='height: 5px;')
                                .progress-bar(role='progressbar' style='width: 85%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                          td 
                            h5 Paypal
                        tr
                          td
                            .d-flex
                              .icon
                                img.img-fluid(src="../assets/images/dashboard/transaction/4.png" , alt="")
                              .flex-grow-1
                                a(href="product-page.html")
                                  h5 Cotton T-shirt
                                p ₹283.65 delivery
                          td
                            h5 22 Mar 2022
                            p In 8 Days
                          td 
                            h5 -$645
                          td
                            .progress-showcase
                              p 75%
                              .progress.progress-bg-info(style='height: 5px;')
                                .progress-bar(role='progressbar' style='width: 75%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                          td 
                            h5 Credit Card
                    .code-box-copy
                        button.code-box-copy__btn.btn-clipboard(data-clipboard-target='#transaction-view' title='' data-bs-original-title='Copy' aria-label='Copy')
                          i.icofont.icofont-copy-alt
                        pre
                          code.language-html#transaction-view
                               | &lt;div class="card transaction-history"&gt;
                               |   &lt;div class="card-header pb-0"&gt;
                               |     &lt;h3&gt; Transaction&lt;/h3&gt;
                               |       &lt;div class="card-header-right"&gt;
                               |         &lt;ul class="list-unstyled card-option"&gt;
                               |           &lt;li&gt;&lt;div&gt;&lt;i class="icon-settings"&gt;&lt;/i&gt;&lt;/div&gt;&lt;/li&gt;
                               |           &lt;li&gt;&lt;i class="view-html fa fa-code"&gt;&lt;/i&gt;&lt;/li&gt;
                               |           &lt;li&gt;&lt;i class="icofont icofont-maximize full-card"&gt;&lt;/i&gt;&lt;/li&gt;
                               |           &lt;li&gt;&lt;i class="icofont icofont-minus minimize-card"&gt;&lt;/i&gt;&lt;/li&gt;
                               |           &lt;li&gt;&lt;i class="icofont icofont-refresh reload-card"&gt;&lt;/i&gt;&lt;/li&gt;
                               |           &lt;li&gt;&lt;i class="icofont icofont-error close-card"&gt;&lt;/i&gt;&lt;/li&gt;
                               |         &lt;/ul&gt;
                               |       &lt;/div&gt;
                               |    &lt;/div&gt;
                               |    &lt;div class="card-body"&gt;
                               |      &lt;div class="table-responsive"&gt;
                               |        &lt;table class="table table-bordernone"&gt;
                               |          &lt;thead&gt;
                               |            &lt;tr&gt;
                               |              &lt;th&gt;Item Name&lt;/th&gt;
                               |              &lt;th&gt;Date and Time&lt;/th&gt;
                               |              &lt;th&gt;Income&lt;/th&gt;
                               |              &lt;th&gt;Progress&lt;/th&gt;
                               |              &lt;th&gt;Status&lt;/th&gt;
                               |            &lt;/tr&gt;
                               |          &lt;/thead&gt;
                               |           &lt;tbody&gt;
                               |             &lt;tr&gt;
                               |               &lt;td&gt;&lt;div class="d-flex"&gt;
                               |                 &lt;div class="icon"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/transaction/1.png" alt="" /&gt;&lt;/div&gt;&lt;div class="flex-grow-1"&gt;&lt;h5&gt;Nike Sports NK&lt;/h5&gt;
                               |                 &lt;p&gt;Free delivery&lt;/p&gt;
                               |                 &lt;/div&gt;
                               |                 &lt;/div&gt;
                               |               &lt;/td&gt;
                               |               &lt;td&gt;
                               |                &lt;h5&gt;12 May 2022&lt;/h5&gt;
                               |                &lt;p&gt;In 6 Days&lt;/p&gt;
                               |               &lt;/td&gt;
                               |               &lt;td&gt;
                               |                 &lt;h5&gt;+$456&lt;/h5&gt;
                               |               &lt;/td&gt;
                               |               &lt;td&gt;
                               |                 &lt;div class="progress-showcase"&gt;
                               |                   &lt;p&gt;65%&lt;/p&gt;
                               |                 &lt;div class="progress" style="height: 5px;"&gt;
                               |                   &lt;div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;
                               |                 &lt;/div&gt;
                               |                 &lt;/div&gt;
                               |               &lt;/td&gt;
                               |               &lt;td&gt;
                               |                 &lt;h5&gt;Paypal&lt;/h5&gt;
                               |               &lt;/td&gt;
                               |             &lt;/tr&gt;
                               |             &lt;tr&gt;
                               |               &lt;td&gt;
                               |                 &lt;div class="d-flex"&gt;
                               |                   &lt;div class="icon"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/transaction/2.png" alt="" /&gt;&lt;/div&gt;&lt;div class="flex-grow-1"&gt;&lt;h5&gt;Women Bag&lt;/h5&gt;&lt;p&gt;₹83.65 delivery&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;
                               |               &lt;/td&gt;
                               |               &lt;td&gt;
                               |                 &lt;h5&gt;06 May 2022&lt;/h5&gt;
                               |                 &lt;p&gt;In 5 Days&lt;/p&gt;
                               |               &lt;/td&gt;
                               |               &lt;td&gt;&lt;h5&gt;-$80&lt;/h5&gt;&lt;/td&gt;
                               |               &lt;td&gt;&lt;div class="progress-showcase"&gt;&lt;p&gt;45%&lt;/p&gt;&lt;div class="progress" style="height: 5px;"&gt;&lt;div class="progress-bar bg-warning" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
                               |               &lt;/td&gt;
                               |               &lt;td&gt;&lt;h5&gt;Credit Card&lt;/h5&gt;&lt;/td&gt;
                               |             &lt;/tr&gt;
                               |             &lt;tr&gt;
                               |               &lt;td&gt;&lt;div class="d-flex"&gt;&lt;div class="icon"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/transaction/3.png" alt="" /&gt;&lt;/div&gt;&lt;div class="flex-grow-1"&gt;&lt;h5&gt;Sunglasses&lt;/h5&gt;&lt;p&gt;Free delivery&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;
                               |               &lt;td&gt;&lt;h5&gt;28 Sep 2022&lt;/h5&gt;&lt;p&gt;in 4 Months&lt;/p&gt;&lt;/td&gt;
                               |               &lt;td&gt;&lt;h5&gt;-$4,232&lt;/h5&gt;&lt;/td&gt;&lt;td&gt;&lt;div class="progress-showcase"&gt;&lt;p&gt;85%&lt;/p&gt;&lt;div class="progress" style="height: 5px;"&gt;&lt;div class="progress-bar bg-danger" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;
                               |               &lt;td&gt;&lt;h5&gt;Paypal&lt;/h5&gt;&lt;/td&gt;
                               |             &lt;/tr&gt;
                               |             &lt;tr&gt;
                               |               &lt;td&gt;&lt;div class="d-flex"&gt;&lt;div class="icon"&gt;&lt;img class="img-fluid" src="../assets/images/dashboard/transaction/4.png" alt="" /&gt;&lt;/div&gt;&lt;div class="flex-grow-1"&gt;&lt;h5&gt;Cotton T-shirt&lt;/h5&gt;&lt;p&gt;₹283.65 delivery&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;
                               |               &lt;td&gt;&lt;h5&gt;22 Mar 2022&lt;/h5&gt;&lt;p&gt;In 8 Days&lt;/p&gt;&lt;/td&gt;
                               |               &lt;td&gt;&lt;h5&gt;-$645&lt;/h5&gt;&lt;/td&gt;
                               |               &lt;td&gt;&lt;div class="progress-showcase"&gt;&lt;p&gt;75%&lt;/p&gt;&lt;div class="progress" style="height: 5px;"&gt;&lt;div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;
                               |              &lt;td&gt;&lt;h5&gt;Credit Card&lt;/h5&gt;
                               |              &lt;/td&gt;
                               |            &lt;/tr&gt;
                               |          &lt;/tbody&gt;
                               |        &lt;/table&gt;
                               |      &lt;/div&gt;
                               |    &lt;/div&gt;
                               |  &lt;/div&gt;
              .col-xl-3.col-lg-3
                .row
                  .col-xl-12.col-sm-6.col-lg-12
                    .card.value-chart.bg-primary
                      .card-body
                        .row
                          .col-6
                            .round-progress.knob-block.text-center
                              .progress-circle
                                input.knob1(data-width='10',data-height='70', data-thickness='.3', data-angleoffset='0',data-linecap='round', data-fgcolor='#534686',data-bgcolor="#C4C4C4", value='62')
                          .col-6
                            .valuechart-detail                            
                              div
                                p Our Sale Value         
                                h2 $7454.25
                      span.badge.badge-primary New
                  .col-xl-12.col-sm-6.col-lg-12
                    .card.value-chart.stock-value.bg-secondary
                      .card-body
                        .row
                          .col-6                        
                            #stock-value.stock-value
                          .col-6
                            .valuechart-detail
                              div
                                p Today Value
                                h2 $5263.04              
                      span.badge.badge-primary Hot        
              .col-xl-4.col-lg-4
                .beyo-line.row
                  .beyoline-header.col-xl-12
                    #beyo-line
                  .beyo-detail.col-xl-12
                    h3 Beyond the Lines 
                      span.badge.badge-primary 6 hours ago
                    p One Of the world,s brightest, young surf Srars, Kanoa lgarashi.
                    .date-history
                      ul
                        li
                          img.img-fluid(src="../assets/images/dashboard/beyo-line/1.png" , alt="")
                        li
                          img.img-fluid(src="../assets/images/dashboard/beyo-line/2.png" , alt="")
                        li
                          img.img-fluid(src="../assets/images/dashboard/beyo-line/3.png" , alt="")
                        li
                          img.img-fluid(src="../assets/images/dashboard/beyo-line/4.png" , alt="")
                        li 
                          h2 + 350
                      .date-lable
                        h3 10
                        p june
              .col-xl-5.des-xl-100.box-col-100.col-lg-12
                .card.investment-chart
                  .card-body
                    .row
                      .col-sm-4
                        .investment-group
                            span.invest-lable +13.6%
                            #invest-chart
                            .chart-detail
                              h5 Total Investment
                              h2 $7454.25
                      .col-sm-4
                        .investment-group
                            span.invest-lable +15.4%
                            #gain-chart.gain-chart
                            .chart-detail
                              h5 Total Gain
                              h2 $7454.25
                      .col-sm-4
                        .investment-group
                            span.invest-lable +15.4%
                            #profit-chart.profit-chart
                            .chart-detail
                              h5 Profit in 6 months
                              h2 $7454.25
              .col-xl-3.col-md-6.box-col-50.des-xl-50
                .card.social-shared
                  .card-header.pb-0
                    h3 Top Social Media
                  .card-body
                    .table-responsive
                        table.table.table-bordernone
                          tbody
                            tr
                              td
                                .d-flex
                                  .icon
                                    a(href="https://www.facebook.com/", target='_blank')
                                      img.img-fluid(src="../assets/images/dashboard/social-media/fb.png" , alt="")
                                  .flex-grow-1
                                    a(href="https://www.facebook.com/login", target='_blank') 
                                      h5 Facebook
                                      p Social Media                            
                              td 
                                .d-flex
                                  i.fa.fa-arrow-up.font-success.me-2
                                  h5 3.7%
                              td
                                h5 $24,000     
                            tr
                              td
                                .d-flex
                                  .icon
                                    a(href="https://www.instagram.com/accounts/login/", target='_blank')
                                      img.img-fluid(src="../assets/images/dashboard/social-media/insta.png" , alt="")
                                  .flex-grow-1
                                    a(href="https://www.instagram.com/accounts/login/", target='_blank')
                                      h5 Instagram
                                      p Social Media
                              td                             
                                .d-flex  
                                  i.fa.fa-arrow-up.font-success.me-2
                                  h5 3.7%
                              td
                                h5 $33,000
                            tr
                              td
                                .d-flex
                                  .icon
                                    a(href="https://www.twitter.com/login", target='_blank')
                                      img.img-fluid(src="../assets/images/dashboard/social-media/twit.png" , alt="")
                                  .flex-grow-1
                                    a(href="https://www.twitter.com/login", target='_blank')
                                      h5 Twitter
                                      p Social Media                            
                              td 
                                .d-flex
                                  i.fa.fa-arrow-up.font-success.me-2
                                  h5 7.6%
                              td
                                h5 $72,000            
              .col-xl-4.col-md-6.box-col-50.des-xl-50
                .card.upgrade-history
                  .card-body
                    div
                      h3 Buy more space now!                  
                      p Invite 2 Friends and get 5 GB extra space.
                      a.btn.btn-primary(href="https://themeforest.net/user/pixelstrap/portfolio", target='_blank')  Upgrade now
                  .upgrade-img
                    img.img-fluid(src="../assets/images/dashboard/upgrade/1.png" alt="")
          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files