<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <h3>Uses</h3>
      <div class="card-header-right"></div>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget9">
              <apx-chart
                [chart]="widget9.chart"
                [dataLabels]="widget9.dataLabels"
                [series]="widget9.series"
                [fill]="widget9.fill"
                [colors]="widget9.colors"
                [title]="widget9.title"
                [xaxis]="widget9.yaxis"
                [yaxis]="widget9.yaxis"
              >
                >
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
