<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <h3>Uses</h3>
      <div class="card-header-right">
        <ul class="list-unstyled card-option">
          <li>
            <div><i class="icon-settings"></i></div>
          </li>
          <li><i class="view-html fa fa-code"></i></li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-refresh reload-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget9">
              <apx-chart
                [series]="widget9.series"
                [chart]="widget9.chart"
                [stroke]="widget9.stroke"
                [annotations]="widget9.annotations"
                [colors]="widget9.colors"
                [yaxis]="widget9.yaxis"
                [xaxis]="widget9.xaxis"
                [legend]="widget9.legend"
                [tooltip]="widget9.tooltip"
                [dataLabels]="widget9.dataLabels"
                [grid]="widget9.grid"
                [labels]="widget9.labels"
                [responsive]="widget9.responsive"
                [plotOptions]="widget9.plotOption"
                [states]="widget9.states"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
