<app-breadcrumb
  [title]="'Rtl'"
  [items]="['Page Layout']"
  [active_item]="'rtl'"
></app-breadcrumb>

<div class="container-fluid">
  <div class="page-title">
    <div class="row">
      <div class="col-6">
        <h3>RTL Layout</h3>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card alert alert-primary bg-primary" role="alert">
        <h3 class="alert-heading">Tip!</h3>
        <p>Add the dir="rtl" to the html tag to get this layout.</p>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>How to use it?</h3>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li>
                <div><i class="icon-settings"></i></div>
              </li>
              <li><i class="view-html fa fa-code"></i></li>
              <li><i class="icofont icofont-maximize full-card"></i></li>
              <li><i class="icofont icofont-minus minimize-card"></i></li>
              <li><i class="icofont icofont-refresh reload-card"></i></li>
              <li><i class="icofont icofont-error close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <h5>Step 1</h5>
          <p>
            On this layout, First of all you have to add the class rtl attribute
            in body tag
          </p>
          <h5>Step 2</h5>
          <p>
            Contents are change right to left from left to right respectively
          </p>
          <h5>Step 3</h5>
          <p>
            when you want to change spacing left to right at that right left
            spacing you have to unset css and apply right spacing in css
          </p>
          <h5>Step 4</h5>
          <p>
            Sometimes js are not change directly with text-align css,so that
            time you have to copy js and change the class as rtl="true".
          </p>
        </div>
        <div class="card-footer">
          <h4 class="mb-0">Card Footer</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
