<app-breadcrumb
  [title]="'Starter kit'"
  [items]="['Pages']"
  [active_item]="'Starter kit'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row starter-main">
    <div class="col-sm-12">
      <app-kick-start></app-kick-start>
    </div>
    <div class="col-sm-12">
      <app-what-is-it></app-what-is-it>
    </div>
    <div class="col-sm-12">
      <app-how-to-use></app-how-to-use>
    </div>
    <div class="col-sm-12">
      <app-simple-card></app-simple-card>
    </div>
    <div class="col-md-6">
      <app-with-header></app-with-header>
    </div>
    <div class="col-md-6">
      <app-no-border></app-no-border>
    </div>
  </div>
</div>
