<div class="card o-hidden">
  <div class="card-body">
    <div class="d-flex static-widget">
      <div class="flex-grow-1">
        <h6 class="font-roboto">{{ data.title }}</h6>
        <h2 class="mb-0 counter">{{ data.count }}</h2>
      </div>
      <svg-icon src="assets/svgIcon/{{ data.icon }}.svg"></svg-icon>
    </div>
    <div class="progress-widget">
      <div class="progress sm-progress-bar progress-animate">
        <div
          class="progress-gradient-{{ data.color }}"
          role="progressbar"
          style="width: 75%"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <span class="animate-circle"></span>
        </div>
      </div>
    </div>
  </div>
</div>
