<app-breadcrumb
  [title]="'Form Wizard 1'"
  [items]="['Form Layout']"
  [active_item]="'Form Wizard 1'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Simple Form Wizard</h3>
          <span
            >Please Make sure fill all the filed before click on next
            button</span
          >
        </div>
        <div class="card-body">
          <aw-wizard [disableNavigationBar]="true">
            <aw-wizard-step>
              <form [formGroup]="firstFormGroup">
                <div class="tab">
                  <div class="mb-3">
                    <label for="name">First Name</label>
                    <input
                      class="form-control"
                      id="name"
                      type="text"
                      placeholder="Johan"
                      required="required"
                      formControlName="firstName"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="lname">Last Name</label>
                    <input
                      class="form-control"
                      id="lname"
                      type="text"
                      placeholder="Deo"
                      formControlName="lastName"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="contact">Contact No.</label>
                    <input
                      class="form-control"
                      id="contact"
                      type="number"
                      placeholder="123456789"
                      formControlName="contact"
                    />
                  </div>
                </div>
                <button
                  class="btn btn-primary pull-right"
                  type="submit"
                  awNextStep
                  [disabled]="!firstFormGroup.valid"
                >
                  Next
                </button>
              </form>
            </aw-wizard-step>
            <aw-wizard-step>
              <form [formGroup]="secondFormGroup">
                <div class="tab">
                  <div class="mb-3 m-t-15">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input
                      class="form-control"
                      id="exampleFormControlInput1"
                      type="email"
                      placeholder="name@example.com"
                      formControlName="email"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                      class="form-control"
                      id="exampleInputPassword1"
                      type="password"
                      placeholder="Password"
                      formControlName="password"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input
                      class="form-control"
                      id="exampleInputcPassword1"
                      type="password"
                      placeholder="Enter again"
                      formControlName="confirmPassword"
                      onlyAlphabets
                    />
                  </div>
                </div>
                <button
                  class="btn btn-primary pull-right"
                  type="button"
                  awNextStep
                  [disabled]="!secondFormGroup.valid"
                >
                  Next
                </button>
                <button
                  class="btn btn-secondary pull-right me-1"
                  type="button"
                  awPreviousStep
                >
                  Previous
                </button>
              </form>
            </aw-wizard-step>
            <aw-wizard-step>
              <form [formGroup]="thirdFormGroup">
                <div class="tab">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1">Birthday:</label>
                    <input
                      class="form-control"
                      type="date"
                      formControlName="bod"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="control-label">Age</label>
                    <input
                      class="form-control"
                      placeholder="Age"
                      type="text"
                      formControlName="age"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="control-label">Have Passport</label>
                    <input
                      class="form-control"
                      placeholder="Yes/No"
                      type="text"
                      formControlName="havePassport"
                    />
                  </div>
                </div>
                <button
                  class="btn btn-primary pull-right"
                  type="button"
                  awNextStep
                >
                  Next
                </button>
                <button
                  class="btn btn-secondary pull-right me-1"
                  type="button"
                  awPreviousStep
                >
                  Previous
                </button>
              </form>
            </aw-wizard-step>
            <aw-wizard-completion-step awEnableBackLinks>
              <form [formGroup]="fourthFormGroup">
                <div class="tab">
                  <div class="mb-3">
                    <label class="control-label">Country</label>
                    <input
                      class="form-control mt-1"
                      type="text"
                      placeholder="Country"
                      required="required"
                      formControlName="country"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="control-label">State</label>
                    <input
                      class="form-control mt-1"
                      type="text"
                      placeholder="State"
                      required="required"
                      formControlName="state"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="control-label">City</label>
                    <input
                      class="form-control mt-1"
                      type="text"
                      placeholder="City"
                      required="required"
                      formControlName="city"
                    />
                  </div>
                </div>
                <button
                  class="btn btn-success pull-right"
                  type="button"
                  (click)="finish()"
                  [disabled]="!fourthFormGroup.valid"
                >
                  Finish
                </button>
                <button
                  class="btn btn-secondary pull-right me-1"
                  type="button"
                  awPreviousStep
                >
                  Previous
                </button>
              </form>
            </aw-wizard-completion-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
