<app-breadcrumb
  [title]="'Apex Chart'"
  [items]="['Charts']"
  [active_item]="'Apex Chart'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Basic Area Chart</h3>
        </div>
        <app-basic-area></app-basic-area>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Area Spaline Chart</h3>
        </div>
        <app-area-spaline></app-area-spaline>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Bar chart</h3>
        </div>
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-column-chart2></app-column-chart2>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>3d Bubble Chart</h3>
        </div>
        <app-bubble-chart></app-bubble-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Stepline Chart</h3>
        </div>
        <app-stepline-chart></app-stepline-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Column Chart</h3>
        </div>
        <app-column-chart></app-column-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Pie Chart</h3>
        </div>
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Donut Chart</h3>
        </div>
        <app-donutt-chart></app-donutt-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Mixed Chart</h3>
        </div>
        <app-mixed-chart></app-mixed-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Candlestick Chart</h3>
        </div>
        <app-candlestick-chart></app-candlestick-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Radar Chart</h3>
        </div>
        <app-radar-chart></app-radar-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Radial Bar Chart</h3>
        </div>
        <app-radial-bar-chart></app-radial-bar-chart>
      </div>
    </div>
  </div>
</div>
