<app-breadcrumb
  [title]="'Apex Chart'"
  [items]="['Chart']"
  [active_item]="'Apex Chart'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Basic Area Chart</h5>
        </div>
        <app-basic-area></app-basic-area>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Area Spaline Chart</h5>
        </div>
        <app-area-spaline></app-area-spaline>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Bar chart</h5>
        </div>
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Column Chart</h5>
        </div>
        <app-column-chart></app-column-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>3d Bubble Chart</h5>
        </div>
        <app-bubble-chart></app-bubble-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Stepline Chart</h5>
        </div>
        <app-stepline-chart></app-stepline-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Column Chart</h5>
        </div>
        <app-column-chart></app-column-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Pie Chart</h5>
        </div>
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Donut Chart</h5>
        </div>
        <app-donutt-chart></app-donutt-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Mixed Chart</h5>
        </div>
        <app-mixed-chart></app-mixed-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Candlestick Chart</h5>
        </div>
        <app-candlestick-chart></app-candlestick-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Radar Chart</h5>
        </div>
        <app-radar-chart></app-radar-chart>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Radial Bar Chart</h5>
        </div>
        <app-radial-bar-chart></app-radial-bar-chart>
      </div>
    </div>
  </div>
</div>
