<div class="card o-hidden">
  <div class="card-header pb-0">
    <h3>Total Earning</h3>
  </div>
  <div class="bar-chart-widget">
    <div class="top-content bg-primary"></div>
    <div class="bottom-content card-body">
      <div class="row">
        <div class="col-52">
          <div id="chart-widget14">
            <apx-chart
              [chart]="widget14.chart"
              [plotOptions]="widget14.plotOptions"
              [fill]="widget14.fill"
              [stroke]="widget14.stroke"
              [responsive]="widget14.responsive"
              [labels]="widget14.labels"
              [series]="widget14.series"
            >
            </apx-chart>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-4 b-r-light">
          <div>
            <span class="font-primary"
              >52%<i class="icon-angle-up f-12 ms-1"></i></span
            ><span class="text-muted block-bottom">Year</span>
            <h2 class="num m-0">
              <span class="counter color-bottom">3659</span>M
            </h2>
          </div>
        </div>
        <div class="col-4 b-r-light">
          <div>
            <span class="font-primary"
              >55%<i class="icon-angle-up f-12 ms-1"></i></span
            ><span class="text-muted block-bottom">Month</span>
            <h2 class="num m-0">
              <span class="counter color-bottom">698</span>M
            </h2>
          </div>
        </div>
        <div class="col-4">
          <div>
            <span class="font-primary"
              >34%<i class="icon-angle-up f-12 ms-1"></i></span
            ><span class="text-muted block-bottom">Today</span>
            <h2 class="num m-0">
              <span class="counter color-bottom">9365</span>M
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
