<i data-feather="message-square"></i>
<ul class="chat-dropdown onhover-show-div">
  <li><i data-feather="message-square"></i>
    <h3 class="mb-0">Message Box</h3>
  </li>
  <li>
    <div class="d-flex"><img class="img-fluid rounded-circle me-3" src="../assets/images/user/6.jpg" alt="">
      <div class="status-circle online"></div>
      <div class="flex-grow-1"><a href="user-profile.html"><span>Ain Chavez</span>
          <p>Do you want to go see movie?</p></a></div>
      <p class="f-12 font-success">2 mins ago</p>
    </div>
  </li>
  <li>
    <div class="d-flex"><img class="img-fluid rounded-circle me-3" src="../assets/images/user/1.jpg" alt="">
      <div class="status-circle online"></div>
      <div class="flex-grow-1"><a href="user-profile.html"><span>Erica Hughes</span>
          <p>Thank you for rating us.</p></a></div>
      <p class="f-12 font-success">5 mins ago</p>
    </div>
  </li>
  <li>
    <div class="d-flex"><img class="img-fluid rounded-circle me-3" src="../assets/images/user/7.jpg" alt="">
      <div class="status-circle offline"></div>
      <div class="flex-grow-1"><a href="user-profile.html"><span>Kori Thomas</span>
          <p>What`s the project report update?</p></a></div>
      <p class="f-12 font-danger">9 mins ago</p>
    </div>
  </li>
  <li class="text-center"> <a class="btn btn-primary" href="chat.html">View All     </a></li>
</ul>