<div class="default-according style-1 job-accordion">
    <div class="row">
      <div class="col-xl-12">
        <app-about-me></app-about-me>
      </div>
      <div class="col-xl-12 col-md-12 col-sm-6">
      <app-followers></app-followers>
      </div>
      <div class="col-xl-12 col-md-12 col-sm-6">
      <app-following></app-following>
      </div>
      <div class="col-xl-12 col-md-12 col-sm-6">
      <app-latest-photos></app-latest-photos>
      </div>
      <div class="col-xl-12 col-md-12 col-sm-6">
       <app-friends></app-friends>
      </div>
    </div>
  </div