<div class="small-chart-widget chart-widgets-small">
  <div class="card">
    <div class="card-header pb-0">
      <h3>Turnover</h3>
      <div class="card-header-right"></div>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget7">
              <apx-chart
                [chart]="widget13.chart"
                [series]="widget13.series"
                [dataLabels]="widget13.dataLabels"
                [stroke]="widget13.stroke"
                [fill]="widget13.fill"
                [colors]="widget13.colors"
                [title]="widget13.title"
                [xaxis]="widget13.yaxis"
                [yaxis]="widget13.yaxis"
                [legend]="widget13.legend"
              >
                >
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
