<div class="card-header pb-0">
  <h3>How to Use Scroll Reveal(Customize options according to requirements)</h3>
  <span
    >Add <code>.reveal</code> class to any tag for Archive animation like
    this</span
  >
</div>
<div class="card-body">
  <div>
    <span class="comment"
      >// The Below Function is example of how to initlize reveal</span
    >
    <!-- <div class="line">
      <span class="text-danger">if (Modernizr.csstransforms3d)</span
      ><span class="text-success">{</span><br />
      window.sr = ScrollReveal();<br />
      sr.reveal('.reveal', <br />duration: 800,}<br />
      delay: 400,<br />
      reset: true,<br />
      easing: 'linear',<br />
      scale: 1<br />
      });<br /><span class="text-success"> }</span>
    </div> -->
  </div>
</div>
