<div class="investment-group">
  <span class="invest-lable">+15.4%</span>
  <div class="profit-chart" id="profit-chart">
    <apx-chart
      [series]="profitchart.series"
      [chart]="profitchart.chart"
      [stroke]="profitchart.stroke"
      [annotations]="profitchart.annotations"
      [colors]="profitchart.colors"
      [yaxis]="profitchart.yaxis"
      [xaxis]="profitchart.xaxis"
      [legend]="profitchart.legend"
      [tooltip]="profitchart.tooltip"
      [dataLabels]="profitchart.dataLabels"
      [grid]="profitchart.grid"
      [responsive]="profitchart.responsive"
    >
    </apx-chart>
  </div>
  <div class="chart-detail">
    <h5>Profit in 6 months</h5>
    <h2>$7454.25</h2>
  </div>
</div>
