<app-breadcrumb
  [title]="'Cart'"
  [items]="['E-Commerce']"
  [active_item]="'Cart'"
></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Cart</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="order-history table-responsive wishlist">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Action</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img
                        class="img-fluid img-40"
                        src="../assets/images/ecommerce/01.jpg"
                        alt="#"
                      />
                    </td>
                    <td>
                      <div class="product-name">
                        <a href="javascript:void(0)">
                          <h6>Women's Jacket</h6></a
                        >
                      </div>
                    </td>
                    <td>$21</td>
                    <td>
                      <fieldset class="qty-box">
                        <div class="input-group">
                          <input
                            class="touchspin text-center"
                            type="text"
                            value="5"
                          />
                        </div>
                      </fieldset>
                    </td>
                    <td><i data-feather="x-circle"></i></td>
                    <td>$12456</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="img-fluid img-40"
                        src="../assets/images/ecommerce/02.jpg"
                        alt="#"
                      />
                    </td>
                    <td>
                      <div class="product-name">
                        <a href="javascript:void(0)"> <h6>Denim Jacket</h6></a>
                      </div>
                    </td>
                    <td>$50</td>
                    <td>
                      <fieldset class="qty-box">
                        <div class="input-group">
                          <input
                            class="touchspin text-center"
                            type="text"
                            value="5"
                          />
                        </div>
                      </fieldset>
                    </td>
                    <td><i data-feather="x-circle"></i></td>
                    <td>$12456</td>
                  </tr>
                  <tr>
                    <td>
                      <img
                        class="img-fluid img-40"
                        src="../assets/images/ecommerce/03.jpg"
                        alt="#"
                      />
                    </td>
                    <td>
                      <div class="product-name">
                        <a href="javascript:void(0)"> <h6>Wonder Skirt</h6></a>
                      </div>
                    </td>
                    <td>$11</td>
                    <td>
                      <fieldset class="qty-box">
                        <div class="input-group">
                          <input
                            class="touchspin text-center"
                            type="text"
                            value="5"
                          />
                        </div>
                      </fieldset>
                    </td>
                    <td><i data-feather="x-circle"></i></td>
                    <td>$12456</td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <div class="input-group">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Enter coupon code"
                        /><a class="btn btn-primary" href="javascript:void(0)"
                          >Apply</a
                        >
                      </div>
                    </td>
                    <td class="total-amount">
                      <h4 class="m-0 text-end">
                        <span class="f-w-600">Total Price :</span>
                      </h4>
                    </td>
                    <td><span>$6935.00 </span></td>
                  </tr>
                  <tr>
                    <td class="text-end" colspan="5">
                      <a
                        class="btn btn-secondary cart-btn-transform"
                        href="product.html"
                        >Continue Shopping</a
                      >
                    </td>
                    <td>
                      <a
                        class="btn btn-success cart-btn-transform"
                        href="checkout.html"
                        >Check Out</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
