<div class="card">
  <div class="card-header pb-0">
    <h5>Listing Typography</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-xl-4">
        <h4>Order list</h4>
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
            </ol>
          </li>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Lorem ipsum dolor sit amet</li>
        </ol>
      </div>
      <div class="col-sm-12 col-xl-4">
        <h4>Order list</h4>
        <dl>
          <dt>Lorem ipsum dolor sit amet</dt>
          <dd>- ipsum dolor sit amet</dd>
          <dt>Lorem ipsum dolor sit amet</dt>
          <dd>- ipsum dolor sit amet</dd>
          <dt>Lorem ipsum dolor sit amet</dt>
          <dd>- ipsum dolor sit amet</dd>
          <dt>Lorem ipsum dolor sit amet</dt>
          <dd>- ipsum dolor sit amet</dd>
        </dl>
      </div>
      <div class="col-sm-12 col-xl-4">
        <h4>Icon list</h4>
        <ul>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
          <li>
            <i class="fa fa-angle-double-right txt-primary m-r-10"></i>Lorem
            ipsum dolor sit amet
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
