<app-breadcrumb
  [title]="'Timepicker'"
  [items]="['Form Widgets']"
  [active_item]="'Timepicker'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Default:</h3>
        </div>
        <div class="card-body">
          <form class="theme-form">
            <div>
              <div class="input-group clockpicker">
                <input
                  class="form-control"
                  type="text"
                  placeholder="10:50"
                  [ngxMatTimepicker]="picker"
                />
                <ngx-mat-timepicker #picker></ngx-mat-timepicker>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
