<div class="card o-hidden">
  <div class="card-header pb-0">
    <h3>Marketing Expenses</h3>
    <div class="card-header-right"></div>
    
  </div>
  <div class="bar-chart-widget">
    <div class="bottom-content card-body">
      <div class="row">
        <div class="col-14">
          <apx-chart
            [series]="widget4.series"
            [chart]="widget4.chart"
            [fill]="widget4.fill"
            [stroke]="widget4.stroke"
            [colors]="widget4.colors"
            [yaxis]="widget4.yaxis"
            [xaxis]="widget4.xaxis"
            [legend]="widget4.legend"
            [tooltip]="widget4.tooltip"
            [dataLabels]="widget4.dataLabels"
            [grid]="widget4.grid"
            [labels]="widget4.labels"
            [responsive]="widget4.responsive"
            [plotOptions]="widget4.plotOption"
            [states]="widget4.states"
          >
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
