<div class="card top-products">
  <div class="card-header pb-0">
    <h3>Top Products</h3>
    <div class="card-header-right"></div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordernone">
        <tbody>
          <tr>
            <td>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="icon">
                    <img
                      class="img-fluid"
                      src="assets/images/dashboard-2/chair.png"
                      alt="chair"
                    />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <a href="product-page.html"> <h5>Wood Chair Dark</h5></a>
                  <p>100 Items</p>
                </div>
              </div>
            </td>
            <td>
              <h5>Coupon Code</h5>
              <p>PIX001</p>
            </td>
            <td class="text-center">
              <i class="flag-icon flag-icon-gb"></i>
            </td>
            <td>
              <h5>-51%</h5>
              <p>$99.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="icon">
                    <img
                      class="img-fluid"
                      src="assets/images/dashboard-2/shoes.png"
                      alt="chair"
                    />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <a href="product-page.html"> <h5>Sneaker For Men</h5></a>
                  <p>150 Items</p>
                </div>
              </div>
            </td>
            <td>
              <h5>Coupon Code</h5>
              <p>PIX002</p>
            </td>
            <td class="text-center">
              <i class="flag-icon flag-icon-us"></i>
            </td>
            <td>
              <h5>-78%</h5>
              <p>$66.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="icon">
                    <img
                      class="img-fluid"
                      src="assets/images/dashboard-2/pot.png"
                      alt="pot"
                    />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <a href="product-page.html"> <h5>Tree Stylish Pot</h5></a>
                  <p>105 Items</p>
                </div>
              </div>
            </td>
            <td>
              <h5>Coupon Code</h5>
              <p>PIX003</p>
            </td>
            <td class="text-center">
              <i class="flag-icon flag-icon-za"></i>
            </td>
            <td>
              <h5>-04%</h5>
              <p>$116.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="icon">
                    <img
                      class="img-fluid"
                      src="assets/images/dashboard-2/purse.png"
                      alt="purse"
                    />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <a href="product-page.html"> <h5>Ulrich Duffel Bag</h5></a>
                  <p>600 Items</p>
                </div>
              </div>
            </td>
            <td>
              <h5>Coupon Code</h5>
              <p>PIX004</p>
            </td>
            <td class="text-center">
              <i class="flag-icon flag-icon-at"></i>
            </td>
            <td>
              <h5>-60%</h5>
              <p>$99.00</p>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="icon">
                    <img
                      class="img-fluid"
                      src="assets/images/dashboard-2/watch.png"
                      alt="watch"
                    />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <a href="product-page.html"> <h5>Mi Watch Revolve</h5></a>
                  <p>541 Item</p>
                </div>
              </div>
            </td>
            <td>
              <h5>Coupon Code</h5>
              <p>PIX005</p>
            </td>
            <td class="text-center">
              <i class="flag-icon flag-icon-br"></i>
            </td>
            <td>
              <h5>-50%</h5>
              <p>$58.00</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
