<div class="card profile-greeting">
  <div class="card-body">
    <div>
      <h1>Welcome,William</h1>
      <p>
        You have completed 40% of your this week! Start a new goal & improve
        your result
      </p>
      <a class="btn" href="/user/user-profile"
        >Continue<i data-feather="arrow-right"></i
      ></a>
    </div>
    <div class="greeting-img">
      <img
        class="img-fluid"
        src="assets/images/dashboard/profile-greeting/bg.png"
        alt=""
      />
    </div>
  </div>
</div>
