<app-breadcrumb
  [title]="'Dark Layout'"
  [items]="['Page Layout']"
  [active_item]="'Dark-Layout'"
></app-breadcrumb>

<div class="container-fluid">
  <div class="page-title">
    <div class="row">
      <div class="col-6">
        <h3>Layout Dark</h3>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card alert alert-primary" role="alert">
        <h3>Tip!</h3>
        <p>Add the class="dark-only" to the body tag to get this layout.</p>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3>Title</h3>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li>
                <div><i class="icon-settings"></i></div>
              </li>
              <li><i class="view-html fa fa-code"></i></li>
              <li><i class="icofont icofont-maximize full-card"></i></li>
              <li><i class="icofont icofont-minus minimize-card"></i></li>
              <li><i class="icofont icofont-refresh reload-card"></i></li>
              <li><i class="icofont icofont-error close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-body"><span>Start Here</span></div>
        <div class="card-footer">
          <h3 class="mb-0">Card Footer</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
