<div class="row">
  <ng-container *ngFor="let faq of FaqTopPart">
    <div class="col-xl-4 {{ faq.colClass }}">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="d-flex faq-widgets">
            <div class="flex-grow-1">
              <h4>{{ faq.title }}</h4>
              <p>{{ faq.dace }}</p>
            </div>
            <app-feather-icon [icon]="faq.icon"></app-feather-icon>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
