<div class="card upgrade-history">
  <div class="card-body">
    <div>
      <h3>Buy more space now!</h3>
      <p>Invite 2 Friends and get 5 GB extra space.</p>
      <a
        class="btn btn-primary"
        href="https://themeforest.net/user/pixelstrap/portfolio"
        target="_blank"
      >
        Upgrade now</a
      >
    </div>
  </div>
  <div class="upgrade-img">
    <img
      class="img-fluid"
      src="../assets/images/dashboard/upgrade/1.png"
      alt=""
    />
  </div>
</div>
