<app-breadcrumb
  [title]="'Support ticket'"
  [items]="['Apps']"
  [active_item]="'Support ticket'"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Support Ticket List</h5>
          <span>List of ticket opend by customers</span>
        </div>
        <div class="card-body">
          <div class="row">
            <app-ticket></app-ticket>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
