<div class="card social-shared">
  <div class="card-header pb-0">
    <h3>Top Social Media</h3>
  </div>
  <div class="card-body">
    <div class="table-responsive theme-scrollbar">
      <table class="table table-bordernone">
        <tbody>
          <tr>
            <td>
              <div class="d-flex">
                <div class="icon">
                  <a href="https://www.facebook.com/" target="_blank"
                    ><img
                      class="img-fluid"
                      src="assets/images/dashboard/social-media/fb.png"
                      alt=""
                  /></a>
                </div>
                <div class="flex-grow-1">
                  <a href="https://www.facebook.com/login" target="_blank">
                    <h5>Facebook</h5>
                    <p>Social Media</p></a
                  >
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <i class="fa fa-arrow-up font-success me-2"></i>
                <h5>3.7%</h5>
              </div>
            </td>
            <td>
              <h5>$24,000</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <div class="icon">
                  <a
                    href="https://www.instagram.com/accounts/login/"
                    target="_blank"
                    ><img
                      class="img-fluid"
                      src="assets/images/dashboard/social-media/insta.png"
                      alt=""
                  /></a>
                </div>
                <div class="flex-grow-1">
                  <a
                    href="https://www.instagram.com/accounts/login/"
                    target="_blank"
                  >
                    <h5>Instagram</h5>
                    <p>Social Media</p></a
                  >
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <i class="fa fa-arrow-up font-success me-2"></i>
                <h5>3.7%</h5>
              </div>
            </td>
            <td>
              <h5>$33,000</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <div class="icon">
                  <a href="https://www.twitter.com/login" target="_blank"
                    ><img
                      class="img-fluid"
                      src="assets/images/dashboard/social-media/twit.png"
                      alt=""
                  /></a>
                </div>
                <div class="flex-grow-1">
                  <a href="https://www.twitter.com/login" target="_blank">
                    <h5>Twitter</h5>
                    <p>Social Media</p></a
                  >
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <i class="fa fa-arrow-up font-success me-2"></i>
                <h5>7.6%</h5>
              </div>
            </td>
            <td>
              <h5>$72,000</h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
