// Page Header Start
.page-header
  .header-wrapper.row.m-0
    form(action='#', method='get').form-inline.search-full.col
      .form-group.w-100
        .Typeahead.Typeahead--twitterUsers
          .u-posRelative
            input.demo-input.Typeahead-input.form-control-plaintext.w-100(type='text' placeholder='Search Koho ..' name='q' title='' autofocus)
            .spinner-border.Typeahead-spinner(role='status')
              span.sr-only Loading...
            i(data-feather='x').close-search
          .Typeahead-menu
    .header-logo-wrapper.col-auto.p-0
      .logo-wrapper
        a(href='index.html')
          img.img-fluid.for-light(src='../assets/images/logo/logo.png', alt='')
          img.img-fluid.for-dark(src='../assets/images/logo/logo-dark.png', alt='')
      .toggle-sidebar
        i.status_toggle.middle(data-feather='align-center').sidebar-toggle
    .left-header.col.horizontal-wrapper.ps-0
      .input-group      
        input.form-control(type='text' placeholder='Search Here........' )
        span.input-group-text.mobile-search
          i(data-feather="search")
        
    .nav-right.col-6.pull-right.right-header.p-0
      ul.nav-menus    
        li.language-nav
          .translate_wrapper
            .current_lang
              .lang
                i.flag-icon.flag-icon-us
                span.lang-txt EN                               
            .more_lang
              .lang.selected(data-value='en')
                i.flag-icon.flag-icon-us
                span.lang-txt
                  | English
                  span  (US)
              .lang(data-value='de')
                i.flag-icon.flag-icon-de
                span.lang-txt Deutsch
              .lang(data-value='es')
                i.flag-icon.flag-icon-es
                span.lang-txt Español
              .lang(data-value='fr')
                i.flag-icon.flag-icon-fr
                span.lang-txt Français
              .lang(data-value='pt')
                i.flag-icon.flag-icon-pt
                span.lang-txt
                  | Português
                  span  (BR)
              .lang(data-value='cn')
                i.flag-icon.flag-icon-cn
                span.lang-txt 简体中文
              .lang(data-value='ae')
                i.flag-icon.flag-icon-ae
                span.lang-txt
                  | لعربية 
                  span  (ae)
        li
          .mode
            i(data-feather='moon')
        li.onhover-dropdown
          .notification-box
            i(data-feather='star')
          .onhover-show-div.bookmark-flip
            .flip-card
              .flip-card-inner
                .front
                  ul.droplet-dropdown.bookmark-dropdown
                    li.gradient-primary
                      i(data-feather='star')
                      h3.mb-0 Bookmark
                    li
                      .row
                        .col-4.text-center
                          a(href="file-manager.html")
                            i(data-feather='file-text')
                        .col-4.text-center
                          a(href="general-widget.html")
                            i(data-feather='activity')
                        .col-4.text-center
                          a(href="user-profile.html")
                            i(data-feather='users')
                        .col-4.text-center
                          a(href="clipboard.html")
                            i(data-feather='clipboard')
                        .col-4.text-center
                          a(href="to-do.html")
                            i(data-feather='anchor')
                        .col-4.text-center
                          a(href="internationalization.html")
                            i(data-feather='settings')
                    li.text-center
                      button.flip-btn#flip-btn Add New Bookmark
                .back
                  ul
                    li
                      .droplet-dropdown.bookmark-dropdown.flip-back-content
                        input(type='text' placeholder='search...')
                    li.pb-0
                      button.d-block.flip-back#flip-back
                        | Back          
        li.onhover-dropdown
          .notification-box
            i(data-feather='bell')
            span.badge.rounded-pill.badge-primary 4                                
          ul.notification-dropdown.onhover-show-div
            li
              i(data-feather='bell')             
              h3.mb-0 Notifications
            li
              a(href="email_read.html") 
                p
                  i.fa.fa-circle-o.me-3.font-primary 
                  | Delivery processing 
                  span.pull-right 10 min.
            li
              a(href="email_read.html")
                p
                  i.fa.fa-circle-o.me-3.font-success
                  | Order Complete
                  span.pull-right 1 hr
            li
              a(href="email_read.html")
                p
                  i.fa.fa-circle-o.me-3.font-info
                  | Tickets Generated
                  span.pull-right 3 hr
            li
              a(href="email_read.html")
                p
                  i.fa.fa-circle-o.me-3.font-danger
                  | Delivery Complete
                  span.pull-right 6 hr
            li
              a.btn.btn-primary(href="email_read.html") Check all notification
        li.onhover-dropdown
          i(data-feather='message-square')
          ul.chat-dropdown.onhover-show-div
            li
              i(data-feather='message-square')
              h3.mb-0 Message Box
            li
                .d-flex
                  img.img-fluid.rounded-circle.me-3(src='../assets/images/user/6.jpg', alt='')
                  .status-circle.online
                  .flex-grow-1
                    a(href="user-profile.html")
                      span Ain Chavez
                      p Do you want to go see movie?
                  p.f-12.font-success 2 mins ago
            li
                .d-flex
                  img.img-fluid.rounded-circle.me-3(src='../assets/images/user/1.jpg', alt='')
                  .status-circle.online
                  .flex-grow-1
                    a(href="user-profile.html")
                      span Erica Hughes
                      p Thank you for rating us.
                  p.f-12.font-success 5 mins ago
            li
                .d-flex
                  img.img-fluid.rounded-circle.me-3(src='../assets/images/user/7.jpg', alt='')
                  .status-circle.offline
                  .flex-grow-1
                    a(href="user-profile.html")
                      span Kori Thomas
                      p What`s the project report update?
                  p.f-12.font-danger 9 mins ago
            li.text-center 
              a.btn.btn-primary(href="chat.html") View All     
        li.maximize
          a.text-dark(href='#!', onclick='javascript:toggleFullScreen()')
            i(data-feather='maximize')
        li.profile-nav.onhover-dropdown.p-0.me-0
          .d-flex.profile-media
            img.b-r-50(src='../assets/images/dashboard/profile.png', alt='')
            .flex-grow-1
              span Helen Walter
              p.mb-0.font-roboto Admin 
                i.middle.fa.fa-angle-down
          ul.profile-dropdown.onhover-show-div
            li
              a(href='user-profile.html')
                i(data-feather='user')
                span Account 
            li
              a(href='email_inbox.html')
                i(data-feather='mail')
                span Inbox
            li
              a(href='kanban.html')
                i(data-feather='file-text')
                span Taskboard
            li
              a(href='login.html')
                i(data-feather='log-in') 
                span Log in

    script.result-template(type='text/x-handlebars-template').
      <div class="ProfileCard u-cf">                        
      <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
      <div class="ProfileCard-details">
      <div class="ProfileCard-realName">{{name}}</div>
      </div>
      </div>
    script.empty-template(type='text/x-handlebars-template').
      <div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div>
// Page Header Ends                              
